@font-face {
    font-family:Youth Touch DEMO; 
    src: url(../../fonts/YouthTouchDemoRegular-4VwY.ttf);
}
* {
    font-family: Youth Touch DEMO;
    /* background-color: #333333; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #333333;
}
nav {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px auto;
    background-color: #eeeeee;
    padding: 15px 25px;
    box-shadow: 5px 10px 3px 0px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    transition: width 0.3s ease-in-out;
}
nav:hover{
    width: 100%;
}
header .category-logo{
    width: 100px;
}
header .user-basket{
    width: 45px;
}
#back-btn{
    border: none;
    background-color: #EF4123;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 35px;
    transition: all 0.3s ease-in;
}
#back-btn:hover{
    transform: scale(.98);
}
main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#category-title{
    display: block;
    color: #EF4123;
    margin: 15px auto;
    font-size: 65px;

}
.data-category{
    width: 100%;
    display: flex;
    padding: 5%;
    gap: 2%;
    border-bottom: 2px solid #EF4123 ;
}
.data-category .category-image{
    opacity: 0.9;
    cursor: pointer;
    border-radius: 10px;
    transform: scale(.95);
    transition: all 0.3s ease-in;

}
.data-category .category-image:hover{
    opacity: 1;
    transform: scale(1);
}
.data-category #category-description{
     color: #eeeeee;
     font-size: 30px;
     font-family: Youth Touch DEMO;
}

.Branches{
    width: 100%;
    background-color: #EF4123;
    text-align: center;
    padding: 10px 30px;
    list-style-type: none;
    color: #eeeeee;
    font-size: 35px;
}
.Branches-title{
    display: block;
    padding: 35px 10px;
    font-size: 70px;
    color: #ffffff;

}
.Branches > div{
    width: 100px;
    margin-left: 25px;
    cursor: pointer;
    padding: 25px;
    border-left: 2px solid #eeeeee;
}




.footer-header{
    text-align: center;
    padding: 8%;
    background-color: #ffffff;
}
.footer-header-title{
    color: #333333;
    font-size: 40px;
}
.footer-header-paragraph{
    color: #222333;
    width: 50%;
    font-size: 25px;
    display: block;
    margin: 1% auto;
}
.footer-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  background-color:#383C47 ;
  padding: 25px 15px;
}
.footer-container .footer-socials img{
    width: 150px;
    cursor:pointer;
}
.footer-socials{
    display: flex;
}
.footer-menu-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-menu{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}
.footer-menu-container:hover li{
    opacity: 0.8;
}
.footer-menu-item{
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
}
.footer-menu-item img{
    width: 35px;
}
.footer-menu-item:hover{
    opacity: 1 !important;
    font-weight: 900;
}
.footer-menu-paragraph{
    color: #D2E4D6;
    width: 50%;
}
.footer-mid-section img{
    width: 150px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.footer-mid-section img:hover{
    transform: scale(1.1);
    background-color: #EF4123;
}

@media screen  and (max-width : 400px){

    header .category-logo{
        width: 70px;
    }
    header .user-basket{
        width: 30px;
    }
    #back-btn{
        padding: 5px 10px;
        font-size: 25px;
    }
    #category-title{
        display: block;
        color: #EF4123;
        margin: 5px auto;
        font-size: 45px;
    
    }
    .data-category{
        flex-direction: column;
    }
    .data-category #category-description{
        font-size: 16px;
    }
    .Branches{
        font-size: 18px;
        padding: 5px ;
    }
    .Branches-title{
     font-size: 45px;
    }
    .Branches > div{
        margin-left: 5px;
        padding: 5px;
    }
    .footer-header-title{
        font-size: 28px;
    }
    .footer-header-paragraph{
        font-size: 18px;
    }
    

    .footer-container{
      padding: 15px 5px;
      flex-direction: column;
    }
    .footer-menu-item{
        font-size: 14px;
    }
    .footer-menu-item img{
        width: 20px;
    }
  
    .footer-menu-paragraph{
        width: 100%;
        text-align: center;
    }
    .footer-mid-section {
       display: none;
    }
    .footer-container .footer-socials img{
        width: 200px;
    }
    
    
}



@media screen  and (max-width : 800px){
    nav{
        width: 100%;
    }
    header .category-logo{
        width: 110px;
    }
    header .user-basket{
        width: 60px;
    }
    #back-btn{
        padding: 5px 10px;
        font-size: 40px;
    }
    #category-title{
        display: block;
        color: #EF4123;
        margin: 5px auto;
        font-size: 55px;
    
    }
    .data-category{
        flex-direction: column;
    }
    .data-category #category-description{
        font-size: 22px;
    }
    .Branches{
        font-size: 22px;
        padding: 5px ;
    }
    .Branches-title{
     font-size: 45px;
    }
    .Branches > div{
        margin-left: 5px;
        padding: 5px;
    }
    .footer-header-title{
        font-size: 30px;
    }
    .footer-header-paragraph{
        width: 100%;
        font-size: 20px;
    }
    

    .footer-container{
      padding: 15px 5px;
      flex-direction: column;
    }
    .footer-menu{
        width: 100%;
        flex-wrap: wrap;
    }
    .footer-menu-item{
        padding: 2px 4px;
        font-size: 14px;
    }
    .footer-menu-item img{
        width: 25px;
    }
  
    .footer-menu-paragraph{
        width: 80%;
        margin: 25px auto;
    }
    .footer-mid-section img{
        width: 150px;
        display: flex;
        flex-direction: row;
    }
    
    .footer-container .footer-socials img{
        width: 250px;
    }
}