@font-face {
    font-family:"Youth Touch DEMO" ;
    src: url(../fonts/YouthTouchDemoRegular-4VwY.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Youth Touch DEMO";
}

body{
    overflow-x: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #383C47;
    box-shadow: 2px 0px 15px 0px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 99;
}
#log-in-out , #logo , #user-basket{
    width: 33%;
    text-align: center;
}
#log-in-out > div{
    display: flex;
}
#log-in-out {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
#log-out , #log-in {
    
    font-size: 25px;
    padding: 5px 10px ;
    cursor: pointer;
    font-weight: 700;
}
 #log-out {
     border: 1px solid #EF4123;
   color:#EF4123;
   border-radius: 10px;
}
#log-in{
    color: #383C47;
}
#logo {
    font-size: 80px;
}
#user-basket> img{
    width: 50px;
    cursor: pointer;
}
.sub-navbar{
    margin-top: 100px;
}
.sub-navbar > .location{
    margin:  0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 3px;
    padding-top: 15px;
    font-size: 35px;
}
.location > p {
color: #EF4123;
font-weight: bold;
letter-spacing: 2.5px;
cursor: pointer;
}

.search-box{
    width: 100%;
    background-color: #EEEEEE;
    padding: 10px ;
    text-align: center;
    
}

.search-box .search-box-input{
    width: 90%;
}

.search-box .search-box-btn{
    background-color: #EF4123;
    color: #ffffff;
    cursor: pointer;
}

.search-box .search-box-input , .search-box .search-box-btn{
    font-size: 30px;
    border: none;
    padding: 15px 10px;
}

.header {
    width: 97%;
    margin:  15px auto;
    border-radius: 15px;
    overflow: hidden;
}
.header > img{
    width: 100%;
    object-fit: cover;
}

.categories{
    width: 100%;
    padding: 25px ;

}
.categories-title{
    font-size: 35px;
    color: #EF4123;
    font-weight: 600;
}
.categories-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
    text-align: center;
}
.category{
    width: 18%;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.category:hover img , .category:hover .category-title{
    transform: scale(1.3);
    color: #EF4123;
}
.category > img{
    width: 100%;
    object-fit: cover;
    height: 150px;
    transition: all 0.3s ease;
}
.category > .category-title{
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 99;
    color: #ffffff;
    font-size: 30px;
    font-weight: 900;
}
.downloads-app-section{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10%;
  background-color: #383C47;
  color: #ffffff;
}
.left-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 60%;
}
.left-section-title{
    color: #EF4123;
    font-size: 80px;
}
.left-section-paragraph{
    font-size: 30px;
}
.send-link-for-phone-num{
    width: 100%;
}
.send-link-for-phone-num > input{
    width: 80%;
    padding: 15px 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.send-link-for-phone-num > button{
    width: 18%;
    padding: 15px 12px;
   background-color: #EF4123;
   color: #ffffff;
   border: none;
   font-size: 18px;
   cursor: pointer;
   font-weight: 700;

}
.left-section-download-apps{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
.app-item {
    width: 33%;
    background-color: black;
    margin: 1px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.app-item:hover{
    transform: scale(1.2) ;
    z-index: 50;
    background-color: #EF4123;
}
.app-item > img{
    width: 100%;
}
.right-section{
    width: 40%;
}
.right-section > img{
    width: 80%;
}